.ios, .md {

    home-page {

        ion-content {
            background-color: map-get($colors, secondary);
        }

      .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 100%;
      }

    }

}
